<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>Facet Quick Look Thumbnail</string>
    <key>CFBundleExecutable</key><string>FacetThumbnail</string>
    <key>CFBundleIdentifier</key><string>xyz.firstlayer.facet.QuickLookThumbnail</string>
    <key>CFBundleName</key><string>FacetThumbnail</string>
    <key>CFBundlePackageType</key><string>XPC!</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.thumbnail</string>
        <key>NSExtensionPrincipalClass</key><string>ThumbnailProvider</string>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>xyz.firstlayer.facet.fct</string>
                <string>xyz.firstlayer.facet.stl</string>
                <string>xyz.firstlayer.facet.obj</string>
                <string>xyz.firstlayer.facet.3mf</string>
                <!-- macOS resolves .stl to this system UTI, which does not conform
                     to our imported type, so list it too or the extension won't bind. -->
                <string>public.standard-tesselated-geometry-format</string>
            </array>
            <key>QLThumbnailMinimumDimension</key><integer>16</integer>
        </dict>
    </dict>
</dict>
</plist>
